body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.furniture{
  background-color: aquamarine;
  width: 375px;
  font-style: inherit ;
  }

.bonus{
  background-color: rgb(153, 153, 211);
  width: 155px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
  